<div class="container">
  <div class="row justify-content-md-center">
    <div class="panel panel-primary">
      <div *ngIf="compte" class="panel-body">
        <div>
          <img src={{imgUrl}}/>
          <h1> {{compte.name}} </h1>
          <h2> Level: {{compte.summonerLevel}} </h2>
        </div>
      </div>
    </div>
    <br />
    <!-- Display Summoner Rank -->
    <div *ngIf="compte">
      <div class="list-group">
        <p class="list-group-item active"> Ranks </p>
        <li *ngFor="let rank of compte.ranks" class="list-group-item">
          <!-- Displaying the correct img depend of the summoner elo -->
          <img src='../../assets/tier_icon/{{rank.pallier}}_{{rank.division}}.png' />
          <p>
            {{rank.queue}} {{rank.pallier}} {{rank.division}} {{rank.LP}} LP
          </p>
        </li>
      </div>
    </div>
  </div>