<div *ngIf="compte">
  <label> Name:  {{compte.name}} </label>
  <label> Id: {{compte.id}} </label>
  <label> Level: {{compte.summonerLevel}} </label>
  <!-- Display soloQ -->
  <label> Rank soloQ: {{compte.rankSoloQ.pallier}}  {{compte.rankSoloQ.division}} {{compte.rankSoloQ.LP}} LP, victoire  {{compte.rankSoloQ.victoire}}, défaite:  {{compte.rankSoloQ.defaite}} </label>
  
    <!-- Display Flex -->
  <!--label> Rank Flex: {{compte.rankFlex.pallier}}  {{compte.rankFlex.division}} {{compte.rankFlex.LP}} LP, victoire  {{compte.rankFlex.victoire}}, défaite:  {{compte.rankFlex.defaite}}  </label-->

    <!-- Display 3V3 -->
  <!--label> Rank 3V3: {{compte.rank3V3.pallier}}  {{compte.rank3V3.division}} {{compte.rank3V3.LP}} LP, victoire  {{compte.rank3V3.victoire}}, défaite:  {{compte.rank3V3.defaite}}</label-->
</div>