<!-- Of course, we're using Bootsrap
    don't forget to add the Bootsrap's CDN in index.html
   -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <!-- Input area where the user can write his summonerName. 
          Don't forget to use "#" to recieve the data
       -->
      <input #SummonerName class="form-control" (keyup)="onKeyPressed($event,SummonerName.value)" placeholder="Summoner Name">
    </div>
    <div class="col-2">
      <!-- Get the Summoner name and load the detail page 
           The property of buttons are from Bootsrap Documentation
      -->
      <button type="button" class="btn btn-success btn-lg" (click)="goToAccountDetail(SummonerName.value)"><span class="glyphicon glyphicon-search"></span></button>
    </div>
  </div>
</div>